[submodule "birthday-countdown-js"]
	path = birthday-countdown-js
	url = https://github.com/yamanoku/birthday-countdown-js.git
[submodule "glicthrange"]
	path = glicthrange
	url = https://github.com/yamanoku/glicthrange.git
[submodule "canvas_browser-crash.js"]
	path = canvas_browser-crash.js
	url = https://github.com/yamanoku/canvas_browser-crash.js.git
[submodule "rolling-sushi"]
	path = rolling-sushi
	url = https://github.com/yamanoku/rolling-sushi.git
